@font-face {
  font-family: 'MyriadPro Regular';
  src: url("../assets/fonts/MyriadPro-Regular.woff2") format("woff2"), url("MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MyriadPro Semibold';
  src: url("../assets/fonts/MyriadPro-Semibold.woff2") format("woff2"), url("MyriadPro-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-family: "MyriadPro Regular";
  letter-spacing: 1px; }
  @media only screen and (max-width: 640px) {
    h1 {
      font-size: 40px; } }
  @media only screen and (min-width: 641px) and (max-width: 959px) {
    h1 {
      font-size: 50px; } }
  @media only screen and (min-width: 960px) {
    h1 {
      font-size: 60px; } }

h2 {
  font-family: "MyriadPro Regular"; }
  @media only screen and (min-width: 641px) and (max-width: 959px) {
    h2 {
      font-size: 1.5em; } }
  @media only screen and (min-width: 960px) {
    h2 {
      font-size: 60px; } }

h3 {
  font-size: 28px;
  color: #7e7e7e;
  margin-bottom: 30px; }
  h3 a {
    color: #75b545 !important; }
  h3 a:hover {
    color: #75b545; }

p {
  font-size: 18px;
  line-height: 118%; }

a {
  color: #75b545; }
  a:hover {
    color: #75b545; }

button, #banner .container a.button, #banner .container #sidebar a.wpcf7-submit, #sidebar #banner .container a.wpcf7-submit, #container .submit, #sidebar .button, #sidebar .wpcf7-submit {
  background: #006136;
  color: #fff;
  width: auto;
  border: none;
  padding: 15px 18px; }
  button:over, #banner .container a.button:over, #banner .container #sidebar a.wpcf7-submit:over, #sidebar #banner .container a.wpcf7-submit:over, #container .submit:over, #sidebar .button:over, #sidebar .wpcf7-submit:over {
    background-color: #000; }

input {
  height: 40px;
  background: #f1f1f1;
  border: 1px solid #e2e2e2;
  width: 100%;
  padding: 20px; }

textarea {
  background: #f1f1f1;
  border: 1px solid #e2e2e2;
  width: 100%;
  padding: 20px;
  text-align: left; }

#wrapper {
  width: 100%;
  display: block; }

.container {
  width: 826px;
  /* background:red; */ }

body > div > footer {
  height: 136px; }
  @media only screen and (min-width: 641px) and (max-width: 959px) {
    body > div > footer {
      width: 100%; } }
  @media only screen and (min-width: 960px) {
    body > div > footer {
      display: flex;
      justify-content: center; } }

#header #site-title, #header #site-description {
  display: none; }
#header nav {
  height: 40px;
  display: flex;
  justify-content: center; }
#header #branding {
  background: #fff;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 640px) {
    #header #branding .container {
      display: flex;
      justify-content: center; } }
  @media only screen and (min-width: 641px) and (max-width: 959px) {
    #header #branding .container {
      display: flex;
      justify-content: center; } }
  @media only screen and (max-width: 640px) {
    #header #branding .logo {
      max-width: 100%;
      height: auto;
      object-fit: scale-down; } }
  @media only screen and (min-width: 641px) and (max-width: 959px) {
    #header #branding .logo {
      max-width: 100%;
      height: auto; } }
  @media only screen and (min-width: 960px) {
    #header #branding .logo {
      max-width: 100%;
      height: auto;
      margin-top: -20px; } }
#header nav {
  background: #000; }
  @media only screen and (max-width: 640px) {
    #header nav {
      height: auto;
      padding: 20px 0px; }
      #header nav .menu {
        width: 100%; }
      #header nav ul {
        height: auto; }
      #header nav li {
        padding: 5px 0px;
        text-align: center; }
        #header nav li a {
          color: #fff; }
        #header nav li a:hover {
          color: #000; }
        #header nav li:hover {
          background-color: #75b545; } }
  @media only screen and (min-width: 641px) and (max-width: 959px) {
    #header nav .menu {
      width: 826px;
      align-items: center;
      justify-content: center; }
    #header nav ul {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* align-self:center; */ }
    #header nav li {
      margin-right: 85px; }
      #header nav li a {
        color: #fff; }
      #header nav li a:hover {
        color: #75b545; }
    #header nav a {
      text-transform: uppercase;
      font-size: 12px; } }
  @media only screen and (min-width: 960px) {
    #header nav .menu {
      width: 826px;
      align-items: center; }
    #header nav ul {
      height: 40px;
      display: flex;
      align-items: center;
      /* align-self:center; */ }
    #header nav li {
      margin-right: 85px; }
      #header nav li a {
        color: #fff; }
      #header nav li a:hover {
        color: #75b545; }
    #header nav a {
      text-transform: uppercase;
      font-size: 12px; } }

#banner {
  height: 315px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%; }
  #banner .img-responsive {
    position: absolute;
    top: 0px; }
    @media only screen and (min-width: 960px) {
      #banner .img-responsive {
        width: 100%;
        height: auto; } }
    @media only screen and (min-width: 960px) {
      #banner .img-responsive {
        width: 960px;
        height: auto;
        z-index: 0; } }
  #banner .container {
    z-index: 120; }
    @media only screen and (max-width: 640px) {
      #banner .container {
        margin: 10% 20px 0px 20px; } }
    @media only screen and (min-width: 641px) and (max-width: 959px) {
      #banner .container {
        position: relative;
        top: 32px;
        left: 5%; } }
    @media only screen and (min-width: 960px) {
      #banner .container {
        position: relative;
        top: 32px;
        left: 0px; } }
    #banner .container h2 {
      color: #fff;
      font-size: "MyriadPro Regular";
      font-size: 60px;
      z-index: 120;
      margin-bottom: 16px; }
    #banner .container .highlight {
      background: #000;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 20px;
      box-sizing: border-box;
      z-index: 100;
      position: relative;
      text-align: right; }
      @media only screen and (max-width: 640px) {
        #banner .container .highlight {
          width: 100%; } }
      @media only screen and (min-width: 641px) and (max-width: 959px) {
        #banner .container .highlight {
          width: 434px; } }
      @media only screen and (min-width: 960px) {
        #banner .container .highlight {
          width: 434px; } }
      #banner .container .highlight .lead {
        text-align: left; }
      #banner .container .highlight p {
        color: #fff;
        margin-bottom: 20px;
        line-height: 20px; }
    #banner .container a.button, #banner .container #sidebar a.wpcf7-submit, #sidebar #banner .container a.wpcf7-submit {
      display: inline-block;
      width: auto;
      padding: 10px 10px; }

@media only screen and (max-width: 640px) {
  #container {
    display: block;
    width: 100%;
    padding: 10px; } }
@media only screen and (min-width: 960px) {
  #container {
    display: flex;
    justify-content: center; } }
#container .size-post-thumbnail {
  max-width: 100%;
  display: none; }
#container .entry-title {
  font-size: 50px;
  margin-bottom: 25px;
  color: #7e7e7e; }
#container .entry-content p {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 20px;
  color: #7e7e7e; }
#container .post {
  margin-bottom: 40px; }
@media only screen and (max-width: 640px) {
  #container #content {
    width: 100%; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  #container #content {
    width: 65%; } }
@media only screen and (min-width: 960px) {
  #container #content {
    width: 480px; } }
#container .entry-footer {
  margin-bottom: 20px; }
#container .event_date {
  background: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px; }
#container .container_wrapper {
  padding-top: 46px; }
  @media only screen and (max-width: 640px) {
    #container .container_wrapper {
      display: block;
      width: 100%;
      padding: 10px; } }
  @media only screen and (min-width: 641px) and (max-width: 959px) {
    #container .container_wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 5%; } }
  @media only screen and (min-width: 960px) {
    #container .container_wrapper {
      display: flex;
      justify-content: space-between;
      width: 826px; } }
@media only screen and (max-width: 640px) {
  #container .gallery {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap; } }
@media only screen and (min-width: 960px) {
  #container .gallery {
    display: flex;
    justify-content: space-between; } }
@media only screen and (max-width: 640px) {
  #container .gallery .gallery-item {
    width: 100%;
    height: auto; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  #container .gallery .gallery-item {
    max-width: 108px;
    max-height: 108px; } }
@media only screen and (min-width: 960px) {
  #container .gallery .gallery-item {
    max-width: 108px;
    max-height: 108px; } }
@media only screen and (max-width: 640px) {
  #container .gallery .gallery-item img {
    width: 100%;
    height: auto;
    display: block; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  #container .gallery .gallery-item img {
    margin: -10px -10px; } }
@media only screen and (min-width: 960px) {
  #container .gallery .gallery-item img {
    margin: -10px -10px; } }

.gallery {
  background: none;
  border: none; }
  .gallery .gallery-item {
    border-radius: 10px;
    overflow: hidden; }
    .gallery .gallery-item:hover {
      border: 4px solid #dddddd;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }

@media only screen and (min-width: 641px) and (max-width: 959px) {
  #sidebar {
    width: 30%; } }
@media only screen and (min-width: 960px) {
  #sidebar {
    width: 285px; } }
#sidebar li.widget-container {
  padding: 20px 0px;
  border-bottom: 3px solid #f1f1f1; }
#sidebar div {
  clear: both; }
#sidebar input {
  margin-bottom: 20px; }
#sidebar .widget-events li {
  margin-bottom: 20px; }
#sidebar .allevents {
  text-align: center;
  margin: 10px 0px;
  display: block; }
#sidebar .button-group {
  display: flex;
  justify-content: flex-end; }
  #sidebar .button-group span {
    display: none; }
#sidebar .button, #sidebar .wpcf7-submit {
  font-size: 20px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 50%;
  font-size: 18px; }
#sidebar textarea {
  height: 94px; }
#sidebar p {
  font-size: 15px;
  margin-bottom: 5px; }
#sidebar h4 {
  margin-bottom: 10px; }
#sidebar .wpcf7-submit {
  padding: 12px 20px 20px 20px;
  height: 40px;
  width: 148px;
  font-size: 20px;
  display: block; }

body > div > footer {
  background-color: #006136;
  padding-top: 36px; }
  body > div > footer #copyright {
    color: #fff; }
    body > div > footer #copyright a {
      color: #fff; }

#comments {
  border-top: 2px solid #f1f1f1;
  padding: 20px; }
  #comments .comment-reply-title {
    margin-bottom: 20px; }
  #comments .comment-body p {
    font-size: 12px;
    margin-bottom: 40px; }
  #comments .comment-author {
    margin-bottom: 20px; }
  #comments .comment-meta {
    margin-bottom: 20px; }

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "MyriadPro Regular";
  text-decoration: none;
  box-sizing: border-box;
  line-height: 100%; }

#gabarito {
  background: url("../assets/images/site_test.jpg");
  width: 960px;
  height: 1060px;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.6;
  display: none; }
