#banner{
    // display: none;
    .img-responsive{

        @include respond-to('hh'){
            width:100%; 
            // min-height: auto;
            // display: none;
            z-index: 0;    
        }

        @include respond-to('ws'){
            position: absolute;  
            // width:$content_size; 
            height: auto;
            // display: none;
            z-index: 0;    
        }
        
    }

    h2{  
        color: #fff;
        position:relative;
        z-index: 120;
    }

    p{ 
        color: #fff;
    }

    .highlight{

        @include respond-to('hh'){
            // width: 50%;
        }

        @include respond-to('ms'){
            width: 100%;
        }

        @include respond-to('ws'){
            width: 434px;
        }
       
        
        background:#000;
        background-color:rgba(0,0,0,0.6);            
        padding: 20px;
        box-sizing: border-box;   
        z-index: 100; 
        position: relative;
    }

    .button{
        font-size: 24px;
    }

}