#banner{
    // display: none;
    height: 315px;
    display: flex;
    justify-content:center;
    overflow: hidden;
    position: relative;
    width:100%;
    // margin-bottom: 54px;

    
    .img-responsive{
        // display: none;
        position: absolute;
        top:0px;
        // border:10px solid red;
        @include respond-to('hh'){
            // width:100%; 
            // min-height: auto;
            // display: none;
            // z-index: 0;
            // width:$content_size;    
        }

        @include respond-to('ws'){
            width:100%; 
            height: auto;
        }

        @include respond-to('ws'){
            // position: absolute;  
            width:960px; 
            height: auto;
            // display: none;
            z-index: 0;    
        }
        
    }

    .container{
        // background: red;
        
        // width:100%;
        z-index: 120;
        @include respond-to('hh'){
            // position:relative;
            // bottom:0px;
            margin:10% 20px 0px 20px;

            // left:5%;
        }

        @include respond-to('ms'){
            position:relative;
            top:32px;
            left:5%;
        }

        @include respond-to('ws'){
            position:relative;
            top:32px;
            left:0px;
        }

        h2{  
            color: #fff;
            font-size: $font-regular;
            // position: absolute;
            font-size: 60px;
            // position:relative;
            z-index: 120;
            margin-bottom:16px;
        }

        .highlight{
            
            @include respond-to('hh'){
                width: 100%;
            }
    
            @include respond-to('ms'){
                width: 434px;
            }
    
            @include respond-to('ws'){
                width: 434px;
            }
                   
             
            background:#000;
            background-color:rgba(0,0,0,0.6);            
            padding: 20px;
            box-sizing: border-box;   
            z-index: 100; 
            position: relative;
            text-align: right;

            .lead{
                text-align: left;
            }     

            p{ 
                color: #fff;
                margin-bottom: 20px;
                line-height: 20px;
            }
        }

        a.button{
            @extend button;
            display: inline-block;
            // background:red;
            width:auto;
            padding:10px 10px;
        }
    }

   

    // .button{
    //     font-size: 24px;
    // }

}