#comments{
    // background: $gray-light;
    border-top: 2px solid $gray-light;
    padding:20px;

    .comment-reply-title{
        margin-bottom: 20px;
    }

    .comment-body p{
        font-size:12px;
        margin-bottom: $standard-margin * 2;
    }

    .comment-author{
        margin-bottom: $standard-margin;
    }

    .comment-meta{
        margin-bottom: $standard-margin;
    }


}
