
#container{

    @include respond-to('hh'){
        display: block;
        width: 100%;
        padding:10px;
    }

    @include respond-to('ws'){
        // padding-bottom:73px;
        display: flex;
        justify-content:center;
    }


    .size-post-thumbnail {
        max-width: 100%;
        display: none; //#donotforget
    }


    .entry-title{
        font-size: 50px;
        margin-bottom: 25px;
        color: #7e7e7e;
    }

    .entry-content p{
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 20px;
        color: #7e7e7e;
    }

    .post{
        margin-bottom: 40px;
    }

    #content{

        @include respond-to('hh'){
            width: 100%;
        } 

        @include respond-to('ms'){
            // flex-grow:3
            width:65%;
        } 

        @include respond-to('ws'){
            width: 480px;
           
        }
        

    }

    .entry-footer{
        margin-bottom:20px;
    }

    .event_date{
        background: $gray-light;
        padding:20px;
        margin-bottom: 20px;
    }

    .submit{
        @extend button;
    }

    .container_wrapper{
        // background:green;
        padding-top:46px;

        @include respond-to('hh'){
            display: block;
            width: 100%;
            padding:10px;
        }

        @include respond-to('ms'){
            display: flex;
            justify-content: space-between; 
            padding:0 5%;
        } 
    
        @include respond-to('ws'){
            display: flex;
            justify-content: space-between; 
            width: $content_size;
        }
    }
   
    .gallery{

        @include respond-to('hh'){
            display: flex;  
            flex-direction: column;
            flex-flow: row wrap;
            
        }

        @include respond-to('ws'){
            display: flex;
            justify-content: space-between;
        }

        .gallery-item{



            @include respond-to('hh'){
                width: 100%;
                height: auto;
                // display: block;
            }

            @include respond-to('ms'){
                max-width:108px;
                max-height: 108px;
                // margin:1%;
            }

            @include respond-to('ws'){
                max-width:108px;
                max-height: 108px;
        
            }

            img{
                @include respond-to('hh'){
                    width:100%;
                    height: auto;
                    display: block;
                }
                @include respond-to('ms'){
                    margin:-10px -10px;
                }
                @include respond-to('ws'){
                    margin:-10px -10px;
                }
            }
    
        }


       
    }


    // .container{
    //     display: flex;
    //     justify-content: space-between;
    //     margin-bottom: 70px;
    // }
}
  
