body > div > footer{
    
    background-color: $ac_regular;
    padding-top: 36px;

    #copyright{
    
        // width: $content_size; 
        color: #fff;

        a{
            color: #fff
        }

    }
}
