
    
.gallery{

    
    background:none;
    border:none;
    
    .gallery-item{
        // background: #e5e5e5;
        border-radius: 10px;
        overflow: hidden;
        &:hover{
            border:4px solid #dddddd;
            @include transition(all 0.5s ease-in-out)
        }

    }
}