#header{


    #site-title,#site-description{
        display: none;
    }

    nav{
        height: 40px;
        display: flex;
        justify-content:center; 
    }

    #branding{
        background: #fff; 
        height: 96px;
        display: flex;
        justify-content:center;
        align-items: center; 
        
        .container{

            @include respond-to('hh'){
                display:flex;
                justify-content: center;
                // margin:10%;
            }

            @include respond-to('ms'){
                display:flex;
                justify-content: center;
            }

        }
        

        .logo{

            @include respond-to('hh'){
                max-width: 100%;
                height: auto;
                object-fit: scale-down;
               
            }

            @include respond-to('ms'){
                max-width: 100%;
                height: auto;
                // margin:20px;
            }

            @include respond-to('ws'){
                max-width: 100%;
                height: auto;
                margin-top:-20px;
     
            }

        }
    }

    @import "nav";

}