h1{
    font-family: $font-regular;
    letter-spacing: 1px;
    
    @include respond-to('hh'){
        font-size:40px;     
    }
 
    @include respond-to('ms'){
        font-size:50px;      
    }

    @include respond-to('ws'){ 
        font-size:60px;
    }
}


h2{
    font-family: $font-regular;
    
    @include respond-to('ms'){
        font-size:1.5em;        
    }

    @include respond-to('ws'){
        font-size:60px;
    }
}

h3{
    font-size: 28px;
    color: $gray;
    margin-bottom: 30px;
 
    a{color: $ac_light !important;}

    a:hover{
        color:$ac_light;
    }
}

p{        
    font-size: 18px;
    // line-height: 15px; 
    line-height:118%;
}

a{ 
    color: $ac_light;
    &:hover{
        color:$ac_light;
    }
}


 
button{
    background:$ac_regular; 
    color: #fff;
    width:auto;
    border:none;
    padding: 15px 18px; 
    // align-self: flex-end;
    &:over{
        background-color: #000;
    }
}




input{ 
    height: 40px;
    background: $gray_light;
    border: 1px solid #e2e2e2;
    width:100%;
    padding: 20px;
}

textarea{
    background: $gray_light;
    border: 1px solid #e2e2e2;
    width:100%;
    padding: 20px;
    text-align: left;   
}