
#wrapper{
    width:100%;
    display: block;
    // #donotforget
}

.container{
    width:$content_size;
    /* background:red; */
}



body > div > footer{
    height: 136px;
     
    @include respond-to('ms'){
        width:100%;
    }

    @include respond-to('ws'){
        
        display: flex;
        justify-content:center;
    }

}