nav{

    background: #000;

    @include respond-to('hh'){
        height: auto;
        padding: 20px 0px;
        .menu{
            width:100%;
        }
        ul{
            height: auto;
        }
        li{
            padding: 5px 0px;
            text-align:center;
            
            a{
                color: #fff;
            }
            
            a:hover{
                color: #000;
                
            }

            &:hover{
                background-color:$ac_light 
            }
        }
    }

    @include respond-to('ms'){
        .menu{
            width: $content_size;      
            align-items: center;   
            justify-content: center;       
        }

        ul{
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;   
            /* align-self:center; */
        }
    
        li{
            margin-right: 85px;
            
            a{
                color: #fff;
            }
        
            a:hover{
                color: $ac_light;
            }
        }
    
        a{
            text-transform: uppercase;
            font-size: 12px;
        }
    }
    
    @include respond-to('ws'){
        .menu{
            width: $content_size;      
            align-items: center;          
        }

        ul{
            height: 40px;
            display: flex;
            align-items: center;
            /* align-self:center; */
        }
    
        li{
            margin-right: 85px;
            
            a{
                color: #fff;
            }
        
            a:hover{
                color: $ac_light;
            }
        }
    
        a{
            text-transform: uppercase;
            font-size: 12px;
        }
    }
}