#sidebar{


        
    @include respond-to('ms'){
        width: 30%;
        // flex-grow:1
    }

    @include respond-to('ws'){
        width: 285px;
    }

    li.widget-container{
        padding:20px 0px;
        border-bottom: 3px solid $gray-light;
        // margin-bottom:50px;
        // background:red;
    }

    div{
        clear: both;
    }

    input{
        margin-bottom: 20px;
    }

    .widget-events{
        li{
            margin-bottom:20px;            
        }
    }

    .allevents{
        text-align: center;
        margin:10px 0px;
        display: block;
    }

    .button-group{
        display: flex;
        justify-content: flex-end;
        span{
            display: none;
        }
    }

    .button{
        font-size: 20px;
        @extend button;
        box-sizing:border-box;
        // margin:10px;
        display: block;
        text-align: center;
        width:50%;
        font-size:18px;
    }

    textarea{
        height: 94px;
    }

    p{
        // text-align: right;
        font-size:15px;
        margin-bottom:5px;
    }

    h4{
        margin-bottom:10px;
    }

    .wpcf7-submit{

        
        @extend .button;
        padding: 12px 20px 20px 20px;
        height: 40px;
        width:148px;
        font-size:20px;
        display: block;
    }

}
