@font-face {
    font-family: 'MyriadPro Regular';
    src: url('../assets/fonts/MyriadPro-Regular.woff2') format('woff2'), url('MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro Semibold';
    src: url('../assets/fonts/MyriadPro-Semibold.woff2') format('woff2'), url('MyriadPro-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



$content_size: 826px;//826
$font-regular: 'MyriadPro Regular';
$font-bold:'MyriadPro Semibold';
$standard-margin: 20px;

// Colors

$ac_regular:#006136;
$ac_light: #75b545;
$gray: #7e7e7e;
$gray_light: #f1f1f1;

@import 'mixins';
@import 'media-query';
@import 'html_tags';
@import 'layout';
@import 'header';
@import 'banner';
@import 'container';
@import 'gallery'; 
@import 'sidebar';
@import 'footer';  
@import 'comments';  

*{  
        margin:0;
        padding:0;
        list-style-type: none;
        font-family:$font-regular;
        text-decoration: none;  
        box-sizing:border-box;
        line-height:100%;
    } 



  
#gabarito{
    background: url('../assets/images/site_test.jpg');
    width: 960px;
    height: 1060px;
    position: absolute;
    z-index: -1;
    left:50%;
    transform: translate(-50%, 0);
    opacity: 0.6;
    display: none; 
}
